    /* Three image containers (use 25% for four, and 50% for two, etc) */
body {
            background-color: white;
        }



        .mapdiv path {
            fill: #262625;
            stroke: black;
            stroke-width: 1px;
            width: 25%;

        }

        .mapdiv2 path {


            fill: #262625;
            stroke: black;
            stroke-width: 1px;
            width: 25%;

        }

         .mapdiv_ratio path {


            fill: #262625;
            stroke: black;
            stroke-width: 1px;
            width: 25%;

        }

        .mapdiv_achter path {


            fill: #262625;
            stroke: black;
            stroke-width: 1px;
            width: 25%;

        }


        .mapdiv_achter2 path {


            fill: #262625;
            stroke: black;
            stroke-width: 1px;
            width: 25%;

        }

        .mapdiv_achter_ratio path {


            fill: #262625;
            stroke: black;
            stroke-width: 1px;
            width: 25%;

        }

    *{
  box-sizing: border-box;
}

    .column {
  float: left;
  width: 330px;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}



